<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>

  <%= form_for(@status) do |f| %>

     <%= f.hidden_field :person_id %>

    <% if @status.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Status" %><br />
      <%= f.text_field :status %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</p>

<p>
  <ul>
  <% for status in @person.statuses %>
<li>

  <%= status.status %>
</li>
  <% end %>
</p>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
