#content
  / main
  #main
    .post
      /
        <div class="right">
        
        </div>
      .left
        #map_canvas{:style => "width: 400px"}
        .about-me
          %h3= @project.name
          %p
            %a{:href => "index.html"}
              %img.float-left{:alt => "firefox", :height => "40", :src => "images/gravatar.jpg", :width => "40"}/
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
            Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
            posuere nunc justo tempus leo
            %a{:href => "index.html"} Learn more...
  / /main
  #sidebar
    .project
      %ul
        - for status in @project.feed
          %li= status.status

        %li
          %a{:href => "http://www.dreamtemplate.com", :title => "Website Templates"}
            DreamTemplate
            %br/
            %span Over 6,000+ Premium Web Templates
        %li
          %a{:href => "http://www.dreamtemplate.com", :title => "Website Templates"}
            DreamTemplate
            %br/
            %span Over 6,000+ Premium Web Templates
        %li
          %a{:href => "http://www.themelayouts.com", :title => "WordPress Themes"}
            ThemeLayouts
            %br/
            %span Premium WordPress &amp; Joomla Themes
        %li
          %a{:href => "http://www.imhosted.com", :title => "Website Hosting"}
            ImHosted.com
            %br/
            %span Affordable Web Hosting Provider
        %li
          %a{:href => "http://www.dreamstock.com", :title => "Stock Photos"}
            DreamStock
            %br/
            %span Download Amazing Stock Photos
        %li
          %a{:href => "http://www.evrsoft.com", :title => "Website Builder"}
            Evrsoft
            %br/
            %span Website Builder Software &amp; Tools
        %li
          %a{:href => "http://www.webhostingwp.com", :title => "Web Hosting"}
            Web Hosting
            %br/
            %span Top 10 Hosting Reviews


%p#notice= notice

%p
  %b 
    Name:
  = @project.name

%h2 People

%ul
  - for person in @project.people
    %li
      = link_to person.name, person

%h2 Feed
%ul
  - for status in @project.feed
    %li
      = link_to status.status, status

= link_to 'Edit', edit_project_path(@project) 
|
\#{link_to 'Back', projects_path}



:javascript
    var latlng = new google.maps.LatLng(-27.587724593115762, 151.96510595703126);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);
 