#content
  / main
  #main
    .post
      /
        <div class="right">
        
        </div>
      .left
        .title-container
          %img{:alt => "Project Clean Water", :height => "80", :src => "http://t2.gstatic.com/images?q=tbn:ANd9GcSItEA61dYLvx8qH3NYQXWCnApW632JzOKG7OcTZNcNzqi5Xg2V", :style => "float: left", :width => "80"}/
          .page-label Project
          %h3.project-title= @project.name
        #map_canvas{:style => "height: 319px; width: 459px; padding: 3px; border: 1px solid black"}
        .project-info
          %h4
            %a{:href => "#"}= "#{@project.people.count} people"
          .people.clearfloats
            - for person in @project.people[0..2]
              .person
                %a{:href => "#"}
                  %img.user-avatar{:alt => "Jin Jiang", :height => "48", :src => "/images/guykawasaki.jpg", :width => "48"}/
                .user-info
                  %a.name{:href => "#"}= person.name
                  %br/
                  = person.title_in(@project)
          / .people
          %a.people-link{:href => "#"} All people &rarr;
          %h4 Description
          = @project.description.html_safe
          %h4 Time
          %p
            = "Start in #{@project.readable_beginning}"
            %br
            = "End in #{@project.readable_ending}"
  / /main
  #sidebar
    - for status in @project.feed
      .tweet
        .tweet-image
          %a{:href => "#"}
            %img{:alt => "Jin Jiang", :height => "48", :src => "/images/guykawasaki.jpg", :width => "48"}/
        / #tweet-image
        .tweet-content
          .tweet-row
            %span.tweet-name
              %a{:href => "#"}= status.person.name
          .tweet-row
            %span.tweet-text= status.status
          .tweet-row
            %span.tweet-time= "#{rand(50)} minutes ago"
        / #tweet-content
  
:javascript
    var latlng = new google.maps.LatLng(0, 0);
    var myOptions = {
      zoom: 2,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

  var myLatlng;
  var marker;
